<nav>
  <h1>Frylow</h1>
  <button id="toggle"><span></span></button>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Benefits</a></li>
    <li id="video-list"><a href="#">Videos</a>
      <ul id="videos">
        <li><a href="#">&ndash; Customer</a></li>
        <li><a href="#">&ndash; Operational</a></li>
        <li><a href="#">&ndash; Technical</a></li>
      </ul>
    </li>
    <li><a href="#">Models</a></li>
    <li><a href="#">Savings</a></li>
    <li><a href="#">Testimonials</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">844-437-9569</a></li>
  </ul>
</nav>
