<div class="cycle-slideshow"
  data-cycle-caption="#alt-caption"
  data-cycle-caption-template="{{alt}}"
>

  <img src="images/frylow-slide-1.jpg" alt="one of our chefs">
  <img src="images/frylow-slide-2.jpg" alt="french fries">
  <img src="images/frylow-slide-5.jpg" alt="shrimp">
  <img src="images/frylow-slide-6.jpg" alt="frylow device">
  <img src="images/frylow-slide-7.jpg" alt="frylow device in action">
  <img src="images/frylow-slide-8.jpg" alt="frylow with tater tots">
  <div id="alt-caption" class="slideshow-captions"></div>
</div>
