header {
  background-color: #006a54;
}

nav h1 {
  padding: 1em .55em;
  color: white;
  height: 100%;
  font-family: "Donegal One";
  font-size: 2em;
}

nav ul {
  background-color: #006b20;
  display: none;
}

nav li, nav a {
  display: block;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1.25em 0;
  padding-left: 1.25em;
  font-family: arial;
  font-size: 1.25em;
}

nav li:hover {
  background-color: #004b6b;
}

nav button {
  height: 2.5em;
  width: 2.5em;
  float: right;
  position: relative;
  top: -5.5em;
  right: 1.5em;
  background-color: transparent;
  border: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

nav button span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: white;
}

#video-links {
  display: none;
}

#videos-links a{
  padding-left: 1.75em;
}

.open, #video-links.show {
  display: block;
}

@media (min-width: 920px) {
  #toggle {
    display: none;
  }

  nav h1, nav ul, nav li{
    display: inline-block;
    //width: auto;
  }

  nav li {
    width: auto;
    height: 3em;
  }

  nav ul {
    float: right;
    background-color: #006a54;
    height: 6.5em;
  }

  nav li {
    height: 100%;
  }

  nav a {
    display: block;
    padding: 0;
    padding: 2em 1em;
  }

  #video-links{
    position: absolute;
    display: block;
    top: 6.5em;
    display: none;
    border-top: 4px solid teal;
    z-index: 999;
  }

  #videos-links li {
    display: block;
    padding: 0;
    margin: 0;
    height: 3.5em;
    background-color: green;
  }

  #video-links a {
    display: block;
    background-color: #006a54;
    //padding: 0;
    //padding: 1em;
    height: 100%;
  }

  #video-links li a:hover {
    background-color: #004b6b;
  }

  .phone {
    margin-left: 2em;
  }
}
