header {
  background-color: #006a54;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul {
  background-color: #006b20;
  height: 0;
}

.open {
  height: auto;
}

nav h1, nav ul, nav li, nav a {
  display: block;
  width: 100%;
}

nav li, nav a {
  display: block;
  height: 100%;
  width: 100%;
}

nav li a {
  padding: 1.25em 0;
  padding-left: 1.25em;
  display: block;
  font-family: arial;
}

nav h1 {
  padding: 1em .55em;
  color: white;
  height: 100%;
  font-family: "Donegal One";
  font-size: 2em;
}

nav li:hover {
  background-color: #004b6b;
}

nav button {
  height: 2.5em;
  width: 2.5em;
  float: right;
  position: relative;
  top: -5.5em;
  right: 1.5em;
  background-color: transparent;
  border: none;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

nav button span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: white;
}

#videos {
  display: none;
}

#videos.show {
  display: block;
}

#videos a{
  //display: none;
  padding-left: 1.75em;
}

@media (min-width: 920px) {
  .wrapper {
    width: 100%;
  }
  #toggle {
    display: none;
  }

  nav h1, nav ul, nav li{
    display: inline-block;
    width: auto;
  }

  nav ul {
    float: right;
    background-color: #006a54;
  }

  nav li {
    padding: 1.4em 0;
    padding-right: 1.25em;
    height: auto;
  }

  #videos{
    position: absolute;
    display: block;
    top: 6.5em;

    display: none;
    border-top: 4px solid teal;
  }

  #videos li {
    display: block;
    padding: 0;
    margin: 0;
  }

  #videos li a {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #006a54;
    padding: 0;
    padding: 1em;
  }

  #videos li a:hover {
    background-color: #004b6b;
  }
}
