.cycle-slideshow img{
  width: 100%;
  max-width: 100%;
}

.cycle-slideshow {
  width: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slideshow-captions {
  color: white;
  background-color: #222;
  padding: 1em;
  font-size: 1.25em;
  font-family: sans-serif;
}

@media (max-width: 1128px) {
  .cycle-slideshow {
    top: -2em;
  }
}
